/*Style for all pages*/
body {
	font-family: Helvetica;
        background-image:url(kesselgulasch_2.jpg);
        //background-color: #717171;
       
	}

.footer {
	clear: both;
	position:relative; 
	top:20px;
	background-color: RGB(80,2,27);
	font-size: 32pt;
	text-align: center;
	border-radius: 25px;
}
#login{
        font-size:20px;
        visibility: hidden;
        display:inline;
	text-decoration:none;
	background-color: RGB(80,2,27);
        border-radius: 5px;
}
#navigation {
        color:#717171;
	background-color: RGB(80,2,27);
	font-size: 32pt;
	text-align: center;
	border-radius: 25px;
	height: 50px;
}

.reference{
	display:inline;
	text-decoration:none;
	background-color: RGB(255,2,27);
	
}
.reference:link    { color:#717171; background-color:transparent; }
.reference:visited { color:#717171; background-color:transparent; }
/*main page*/
#chooselan{
        font-size: 36pt;
	text-align:center;
}
#welcome {
	position:relative;
	font-size: 32pt;
	margin: 20mm 0 0 0;
}

#withlogin{
background-image:url(color.png);
background-size:100%, 100%;
float:left;
position: relative; left:50px;
width: 250px;
height:  275px;
border: 5px ridge silver;

}

#justinfo{
background-image:url(color.png);
float:left;
position: relative; left:150px;
width: 250px;
height: 275px;
border: 5px ridge silver;

}
#nologin{
background-image:url(color.png);
float:left;
position: relative; left:250px;
width: 250px;
height: 275px;
border: 5px ridge silver;


}
/*menu page*/
div#menu {
	margin-left: 20mm;
	width:1800px;
}

div#maindish {
        background-image:url(color.png);
	width: 300px;
	float: left;
	border: 2px solid black;
	border-radius: 10px;
}

div#sidedish {
        background-image:url(color.png);
	width: 300px;
	border: 2px solid black;
	border-radius: 10px;
        float: left;
	
}

div#beverages {
        background-image:url(color.png);
	width: 300px;
	float: left;
	border: 2px solid black;
	border-radius: 10px;
}
div#g2gmap{
        width:400px;
        height:400px;
        border:10px;
}

.tocart{
	display:inline;
	text-decoration:none;
}
.tocart:link    { color:#717171; background-color:transparent; }
.tocart:visited { color:#717171; background-color:transparent; }
/*Information Page*/

#client{
    width: 500px;
    height:250px;
    font-size: 20pt;
    }
    
.clientinput{
        font-size: 20pt;
        position: absolute; left:200px;
    }    
      
#shortshoppingcart{
	background-image:url(color.png);
	width: 300px;
	border: 2px solid black;
	border-radius: 10px;
        float: left;	
	font-size: 12pt;
}

#longshoppingcart{
        background-image:url(color2.png);
	float:left;
	border: 2px solid black;
        border-radius: 2px;
	width: 1200px;
	font-size: 24pt;
        
}
