/*Style for all pages*/
body {
	font-family: Arial;
	background-color: gray;
}

.footer {
	clear: both;
	font-style: italic
}

.navigation {
	background-color: gray;
	font-size: 32pt;
	text-align: center;
}

/*main page*/
#welcome {
	font-size: 32pt;
	margin: 20mm 0 0 0
}
/*menu page*/
#menu {
	margin-left: 20mm;
}

#maincourse {
	width: 400px;
	float: left;
	border: 5px ridge silver;
}

#sidedish {
	width: 400px;
	border: 5px ridge silver;
	float: left;
}

#extras {
	width: 400px;
	float: left;
	border: 5px ridge silver;
}
/*Information Page*/