body{
	font-family:Arial;
	background-color:gray;
	}

.footer {
	
	font-style:italic
	}
	
.navigation{
	background-color:gray;
	
	text-align:center;
	border:2px ridge silver;}
	
#mainnavigation{
	font-size:32pt;
	
}	

	
#main {
	font-size:16pt;
	margin:20mm 0 0 0
	
}	

#first{
	
	
}

